* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
}

/* just to be sure these are full screen*/


/* To remove the scrollbars */
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#media {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    width: 90%;
    height: 90%;
}