* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    z-index: -1;
}

/* To remove the scrollbars */
canvas {
    width: 100% !important;
    height: 100%;
    display: block;
}

#search-button {
    filter: invert(50%) sepia(29%) saturate(6429%) hue-rotate(163deg) brightness(98%) contrast(101%);
    width: 175px;
    height: 175px;
    z-index: 200;
    position: absolute;
    top: 120px;
    right: 120px;
}

#search-button:hover {
    filter: invert(99%) sepia(69%) saturate(1243%) hue-rotate(74deg) brightness(100%) contrast(86%);
    cursor: pointer;
}

#search-button img {
    width: 100%;
    height: 100%;
}

#media,
#keyboard,
#library-block,
#keyboard-block,
#app {
    position: absolute;
    pointer-events: none;
    top: 0;
    z-index: 0;
}

#keyboard-block {
    width: 100%;
    height: 100%;
    z-index: 100;
}

#keyboard-input {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60px;
    line-height: 60px;
    padding: 5px;
    z-index: 200;
    background-color: lightgray;
    border: 2px solid gray;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}

#keyboard-buttons-fake {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 250px;
    line-height: 50px;
    padding: 5px;
    z-index: 200;
    background-color: lightgray;
    border: 2px solid gray;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    overflow-y: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

#keyboard-buttons {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 500;
}

#keyboard-buttons .keyboard-button {
    width: 100%;
    height: 216px;
    z-index: 500;
    position: relative;
    pointer-events: all;
}

#keyboard-buttons-fake::-webkit-scrollbar,
#keyboard-buttons::-webkit-scrollbar {
    /* WebKit */
    display: none;
}

.bookshelf-block.active {
    pointer-events: all;
    scale: 1;
    transform: translate(0%, 0%);

}

.bookshelf-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.2;
    transform: translate(190%, -175%);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform 1s, scale 1s;

}

.bookshelf-wrapper {
    width: 60%;
    overflow: hidden;
    position: absolute;
    pointer-events: all;
    z-index: 3;
}

.bookshelf-block.active .bookshelf-wrapper {
    pointer-events: all;
}

.bookshelf-block:not(.active) .book:hover, 
.bookshelf-block:not(.active) .book {
    pointer-events: none;
}

.bookshelf-block:not(.active):hover{
    cursor: pointer;
}

.bookshelf-block.active:hover {
    cursor: auto;
}

.bookshelf {
    width: 100%;
    display: block;
}

.book-row {
    width: 100%;
}

.book-large-title {
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.658);
    width: 70%;
    text-align: center;
    position: absolute;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 4;
}

#library-books {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 60px;
}

.book-row {
    width: 100%;
    height: 30%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book {
    width: 17.3%;
}


.book img {
    -webkit-box-shadow: 4px -3px 4px -2px rgba(24, 24, 24, 1);
    -moz-box-shadow: 4px -3px 4px -2px rgba(24, 24, 24, 1);
    box-shadow: 4px -3px 4px -2px rgba(24, 24, 24, 1);
    width: 100%
}

.book:hover {
    cursor: pointer;
}

.book:hover img {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(38, 229, 26, 1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(38, 229, 26, 1);
    box-shadow: 0px 0px 0px 4px rgba(38, 229, 26, 1);
}

#media-buttons {
    overflow: visible;
    user-select: none;
    text-shadow: 1px 1px 2px black;
    height: 100%;
    width: 30%;
    position: absolute;
    vertical-align: middle;
    left: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
    overflow-y: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#media-buttons::-webkit-scrollbar {
    display: none;
}

.media-button {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: visible;
    color: white;
    font-size: 45px;
    line-height: 7.5%;
    height: 7.5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.media-button:hover {
    color: #64edb4 !important;
}

.keyboard-button-fake.hovered {
    color: blue;
}

.frame__menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #414141;
    opacity: 1;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    justify-content: center;
    border-right: 5px solid #313131;
}

.frame__menu ul {
    padding: 0;
    list-style: none;
}

.frame__menu ul li {
    margin: 20px auto;
}

.frame__menu ul li img {
    width: 100%;
    height: auto;
}

.map-img{
    width: 100%;
    height: 100%;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.map-img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.map-wrapper{
    position: absolute;
    width: 220px;
    height: 180px;
    right: 5%;
    top: 40%;
    z-index: 0;
    transform: translate(-10%, -20%);

}




#video-wrapper{
    position: absolute;
    width: 15%;
    right: 5%;
    top: 60%;
    transition: .5s ease-in-out;
}

#video-wrapper.active{
    right: 43%;
    top: 35%;
    transform: scale(3);
}
    
.video-img{
    width: 100%;
    height: 100%;
}

#map-scene{
    display: none;
}


@media (max-width: 1280px) {
    #keyboard-input {
        position: absolute;
        top: 20%;
        left: 25%;
        height: 40px;
        line-height: 40px;
        padding: 5px;
        z-index: 200;
        background-color: lightgray;
        border: 2px solid gray;
        color: #333;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }

    #keyboard-buttons .keyboard-button {
        width: 100%;
        height: 144px;
        z-index: 500;
        position: relative;
        pointer-events: all;
    }

    #search-button {
        filter: invert(50%) sepia(29%) saturate(6429%) hue-rotate(163deg) brightness(98%) contrast(101%);
        width: 150px;
        height: 150px;
        z-index: 200;
        position: absolute;
        top: 90px;
        right: 90px;
    }
    

    #keyboard-buttons-fake {
        position: absolute;
        top: 30%;
        left: 25%;
        width: 50%;
        height: 166px;
        line-height: 33px;
        padding: 5px;
        z-index: 200;
        background-color: lightgray;
        border: 2px solid gray;
        color: #333;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
    }
}

